.AppDetailsView {
	max-width: 80em;
	margin: 0 auto;
	padding: 0 4em;
}
.AppDetailsView__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6em;
}
.AppDetailsView__img-wrapper {
	/* determined by the size of the smallest image */
	height: 114px;
	width: 114px;
}
.AppDetailsView__img {
	max-height: 100%;
	max-width: 100%;
}

.AppDetailsView__title {
	font-weight: 200;
}

.AppDetailsView__readme {
	margin-top: 4em;
}
