.AppDetailsView {
	max-width: 80em;
	margin: 0 auto;
	padding: 0 4em;
}
.AppDetailsView__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6em;
}
.AppDetailsView__img-wrapper {
	/* determined by the size of the smallest image */
	height: 114px;
	width: 114px;
	display: flex;
	align-items: center;
}
.AppDetailsView__img {
	max-height: 100%;
	max-width: 100%;
}

.AppDetailsView__title {
	font-weight: 200;
}

.AppDetailsView__readme {
	margin-top: 4em;
}
.AppDetailsView__meta {
	padding: var(--spacing-small) 0;
	border-top: 1px solid var(--c-pale);
}
.AppDetailsView__meta-item {
	display: inline-block;
	margin-left: var(--spacing-small);
	margin-right: var(--spacing-small);
}
