.search {
	margin: 1em;
	display: flex;
	height: 50vh;
}
.search__input {
	width: 60%;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid var(--c-line);
	font-size: 1.5em;
	padding: 0.5em 0;
	align-self: center;
	margin: 0 auto;
}

.search__input:focus {
	outline: none;
	box-shadow: 0 -4px 0 0px var(--c-accent) inset;
}
