.IndexView {
	width: 80%;
	max-width: 60em;
	margin: 0 auto;
}
.header {
	margin-bottom: 6em;
}

.title {
	font-size: 6em;
	font-weight: 100;
	margin: 1em 0;
	text-align: center;
}

.search {
	margin: 1em 0;
	display: flex;
}

.search__input {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid var(--c-line);
	font-size: 1.5em;
	padding: 0.5em 0;
	align-self: center;
	margin: 0 auto;
	flex-grow: 2;
}

.search__input::placeholder {
	font-weight: 200;
}

@media screen and (min-width: 700px) {
	.app-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: var(--spacing);
	}
	.AppItem {
		flex-direction: column;
		margin: 0;
	}

	.AppItem__img-wrapper {
		align-self: center;
		margin-top: calc(var(--spacing) * 0.5);
	}
	.AppItem__info {
		margin-top: var(--spacing);
		margin-left: 0;
		text-align: center;
	}

	.AppItem__name {
		font-size: 1em;
	}
}
