.AppItem {
	display: flex;
	text-decoration: none;
	border: 1px solid;
	border-radius: var(--border-radius);
	margin: 1em;
	padding: 0.5em;
	color: inherit;
}

.AppItem__img {
	max-height: 100px;
	max-width: 100px;
	align-self: center;
}

.AppItem__info {
	margin-left: 1em;
}

.AppItem__info h2 {
	margin-top: 0;
} /* TODO normalization */
