.AppItem {
	display: flex;
	text-decoration: none;
	border: 1px solid;
	border-radius: var(--border-radius);
	margin: 1em;
	padding: 0.5em;
	color: inherit;
}
.AppItem__img-wrapper {
	display: flex;
	width: 100px;
	height: 100px;
}

.AppItem__img {
	max-height: 100%;
	max-width: 100%;
	align-self: center;
	border-radius: 2px;
}

.AppItem__info {
	margin-left: 1em;
}

.AppItem__info h2 {
	margin-top: 0;
} /* TODO normalization */
