.AppItem {
	--spacing: 2em;

	display: flex;
	text-decoration: none;
	border: 1px solid var(--c-line);
	border-radius: var(--border-radius);
	margin: 1em;
	padding: var(--spacing);
	color: inherit;
	/*transition: box-shaddow var(--t-normal);*/
}
/*.AppItem:hover {*/
/*	box-shadow:0 2px 4px -2px var(--c-light);*/
/*}*/
.AppItem:hover .AppItem__img-wrapper {
	transform: scale(1.2);
}

.AppItem__img-wrapper {
	display: flex;
	width: 100px;
	height: 100px;
	transition: all var(--t-normal);
}

.AppItem__img {
	max-height: 100%;
	max-width: 100%;
	align-self: center;
	border-radius: 2px;
}

.AppItem__info {
	margin-left: var(--spacing);
}

.AppItem__name {
	font-weight: normal;
	margin-top: 0;
} /* TODO normalization */
